

<ul>
    <% for (var i in tips) { %>
        <% var tip = tips[i]; %>

        <% var accepted = tip.accepted; %>
        <% var isAdmin = session.user && session.user.isAdmin; %>
        <% var isQuizAuthor = session.user && (quizAuthorId && (quizAuthorId === session.user.id)); %>
	<%console.log(isQuizAuthor);%>
	<% var tipAuthorId = tip.AuthorId; %>
	<%console.log(tipAuthorId);%>
	<% var isTipAuthor = session.user && (tipAuthorId && (tipAuthorId === session.user.id)); %>
	<%console.log(isTipAuthor);%>
        <% if (accepted || isAdmin || isQuizAuthor) { %>

            <li>
                <%= tip.text %>
		<%console.log(tipAuthorId);%>
		<span id='autor'>(by <%= tip.AuthorId ? quiz.Tips[i].Author.username : "Anómino" %>)</span>

                <% if (!accepted && (isAdmin || isQuizAuthor)) { %>

                      <a href="/quizzes/<%= quizId %>/tips/<%= tip.id %>/accept?_method=PUT">
                          <button>Aceptar</button>
                      </a>

                <% } %>

                <% if (isAdmin || isTipAuthor) { %>

                      <a href="/quizzes/<%= quizId %>/tips/<%= tip.id %>?_method=DELETE">
                           <button>Borrar</button>
                      </a>

                <% } %>
             </li>
         <% } %>

    <% } %>
</ul>
